<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
<br>
<br>
<center><h1>Counter</h1></center>

    <center><h2> {{ counter }} time(s)</h2></center>
    <center><a href="destroy_session"><button class="button"> Reset </button></a></center>
    
    
</body>

</html>